<h1> INSTRUCTIONS </h1>
<div>
  <p>When this server receives a request on <b>http://localhost:4000/set?somekey=somevalue</b> it will store the passed key <b>"somekey"</b> and value <b>"somevalue"</b> in memory.</p>
  <p>When it receives a request on <b>http://localhost:4000/get?key=somekey</b> it will return the value <b>"somevalue"</b> stored at the key <b>"somekey"</b>.</p>
  <p>The data is also saved in a file.</p>
  <p>In the future there will be an option to store the keys in a database, but this has not been implemented yet.</p>
</div>
