<h2> INSTRUCTIONS </h2>
<div>
  <p>When this server receives a request on <b>http://localhost:4000/set?somekey=somevalue</b> it will store the passed key <b>"somekey"</b> and value <b>"somevalue"</b> in memory.</p>
  <p>When it receives a request on <b>http://localhost:4000/get?key=somekey</b> it will return the value <b>"somevalue"</b> stored at the key <b>"somekey"</b>.</p>
  <p>In the future, the data will be saved in a file.</p>
  <p>In the future the keys will be stored in a database.</p>
</div>
